
<div class="form-group">
    <label class="control-label">Economic Quintile</label>

    <select name="quintile" class="form-control">
        <option value="0">LOW</option>
        <option value="1">SECOND</option>
        <option value="2">THIRD</option>
        <option value="3">FOURTH</option>
        <option value="4">HIGH</option>
    </select>
</div>