<div class="form-group">
    <label class="control-label">Study Level</label>

    <select name="level" class="form-control">
        <option value="0">UNDER GRADUATE</option>
        <option value="1">GRADUATE</option>

    </select>
</div>