<div class="form-group">
    <label class="control-label">Study Program</label>

    <select name="program" class="form-control">
        <option value="0">DAY TIME</option>
        <option value="1">SUMMER</option>
        <option value="2">EXTENSION</option>
        <option value="3">DISTANCE</option>
        <option value="4">REGULAR</option>


    </select>
</div>