
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li>
                        <a href="/College" class="">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li><a href="~/College/staffprograms" class="">Staff Programs</a></li>
                    <li><a href="~/College/StaffTrainings" class=""> Staff Trainings</a></li>

                    <li>
                        <a href="/College/AdministrativeStaff" class="">
                            <span>Administrative Staff</span>
                        </a>
                    </li>
                    <li>
                        <a href="/College/SupportiveStaff" class="">
                            <span>Supportive Staff</span>
                        </a>
                    </li>
                    <li>
                        <a href="/College/Buildings" class="">
                            <span>Building Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="/College/Budget" class="">
                            <span>Budget</span>
                        </a>
                    </li>
                    <li>
                        <a href="/College/InternalRevenue" class="">
                            <span>Internal Revenue</span>
                        </a>
                    </li>
                    <li>
                        <a href="/College/Investment" class="">
                            <span>Investment</span>
                        </a>
                    </li>
                    <li>
                        <a href="/College/costsharingreport" class="">
                            <span>Cost Sharing Report</span>
                        </a>
                    </li>

                    @*<li>
            <a href="#subAdd" data-toggle="collapse" class="collapsed">
                <i class="lnr lnr-book"></i>
                <span>Add</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="subAdd" class="collapse">
                <ul class="nav">
                    <li><a href="~/College/Department" class="">Department</a></li>
                    <li><a href="~/identity/account/addDepartment" class="">User</a></li>


                </ul>
            </div>
        </li>

        <li>
            <a href="#subStaff" data-toggle="collapse" class="collapsed " aria-expanded="true">
                <i class="lnr lnr-users"></i>
                <span>Staff</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="subStaff" class="collapse" aria-expanded="true">
                <ul class="nav">
                    <li> <a href="~/college/TechnicalStaff" class="">Technical Staff</a></li>

                </ul>
            </div>

        </li>


        <li>
            <a href="#subStudent" data-toggle="collapse" class="collapsed">
                <i class="lnr lnr-users"></i>
                <span>Student</span>  <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="subStudent" class="collapse">
                <ul class="nav">
                    <li><a href="~/College/StudentAttritions" class="">Attrition</a></li>

                </ul>
            </div>
        </li>
        <li>
            <a href="#subOther" data-toggle="collapse" class="collapsed">
                <i class="lnr lnr-book"></i>
                <span>Others</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="subOther" class="collapse">
                <ul class="nav">
                    <li><a href="~/College/CompletionRates" class="">CompletionRates</a></li>
                    <li><a href="~/College/Internships" class="">Internships</a></li>
                    <li><a href="~/College/ResearchPapers" class="">Research Papers</a></li>


                </ul>
            </div>
        </li>*@




                </ul>
            </nav>
        </div>
    </div>