@Model CollegeViewModel
<partial name="SideNavView" />
<!-- MAIN -->

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">

        <div class="row" id="addSupportiveStaff">

            <div class="col-md-12">
                <h3 class="page-title">Add Supportive Staff</h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-body">
                        <form id="new-form">
                            <div class="row">
                                <input type="number" hidden name="collegeId" value=@Model.College.CollegeId>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label" for="Name">Name</label>
                                        <input name="name" id="Name" class="form-control" type="text" placeholder="Enter your name" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Sex">Sex</label>
                                        <select class="form-control" name="sex" id="Sex" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.Sex>()"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="BirthDate">Birth Date</label>
                                        <input name="birthDate" id="BirthDate" class="form-control" type="date" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Nationality">Nationality</label>
                                        <input name="nationality" id="Nationality" class="form-control" type="text" placeholder="Enter your nationality" />
                                    </div>




                                </div>
                                <div class="col-lg-4">

                                    <div class="form-group">
                                        <label class="control-label" for="Employment">Employment</label>
                                        <select class="form-control" name="employment" id="Employment" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.EmploymentType>()"></select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="AcademicLevel">Academic Level</label>
                                        <select class="form-control" name="academicLevel" id="AcademicLevel" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.AdministrativeStaffLevel>()"></select>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label" for="Ded">Dedication</label>
                                        <select class="form-control" name="ded" id="Ded" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.Dedication>()"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                    <div class="form-group">
                                        <label class="control-label" for="Salary">Salary</label>
                                        <input name="salary" id="Salary" class="form-control" type="number" min="100" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="ServiceYear">Service Year</label>
                                        <input name="serviceYear" id="ServiceYear" class="form-control" type="number" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="FieldOfStudy">Field Of Study</label>
                                        <input name="fieldOfStudy" id="FieldOfStudy" class="form-control" type="text" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="TeachingLoadRemark">Teaching Load Remark</label>
                                        <input name="teachingLoadRemark" id="TeachingLoadRemark" class="form-control" type="text" />
                                    </div>

                                    <div class="form-group">
                                        <input name="isExpatriate" id="IsExpatriate" type="checkbox" class="form-check-input" value="false" />
                                        <label class="form-check-label" for="IsExpatriate">Is Expatriate</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END CONTACT FORM -->

            </div>
            <!--/ col-lg-6 -->
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-title">Supportive Staff List</h3>
                <div class="panel">
                    <div class="panel-body table-responsive-lg">
                        <table class="table table-sorting table-hover table-striped " id="supportive-staff-table">
                            <thead>
                                <tr>
                                    <th>College</th>
                                    <th>Name</th>
                                    <th>Nationality</th>
                                    <th>Is Expatriate</th>
                                    <th>Salary</th>
                                    <th>Birthdate</th>
                                    <th>Academic Level</th>
                                    <th>Dedication</th>
                                    <th>Sex</th>
                                    <th>Employement Type</th>
                                    <th>Service Year</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN CONTENT -->
</div>
<div id="edit-model-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit SUPPORTIVE STAFF</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <input type="number" hidden name="collegeId" value=@Model.College.CollegeId>
                        <input type="number" hidden name="supportiveStaffId">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label" for="Name">Name</label>
                                <input name="name" id="Name" class="form-control" type="text" placeholder="Enter your name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Sex">Sex</label>
                                <select class="form-control" name="sex" id="Sex" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.Sex>()"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="BirthDate">Birth Date</label>
                                <input name="birthDate" id="BirthDate" class="form-control" type="date" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Nationality">Nationality</label>
                                <input name="nationality" id="Nationality" class="form-control" type="text" placeholder="Enter your nationality" />
                            </div>




                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <label class="control-label" for="Employment">Employment</label>
                                <select class="form-control" name="employment" id="Employment" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.EmploymentType>()"></select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="AcademicLevel">Academic Level</label>
                                <select class="form-control" name="academicLevel" id="AcademicLevel" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.AdministrativeStaffLevel>()"></select>
                            </div>


                            <div class="form-group">
                                <label class="control-label" for="Ded">Dedication</label>
                                <select class="form-control" name="ded" id="Ded" asp-items="Html.GetEnumSelectList<MoE_HEMIS.Models.Dedication>()"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <label class="control-label" for="Salary">Salary</label>
                                <input name="salary" id="Salary" class="form-control" type="number" min="100" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="ServiceYear">Service Year</label>
                                <input name="serviceYear" id="ServiceYear" class="form-control" type="number" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="FieldOfStudy">Field Of Study</label>
                                <input name="fieldOfStudy" id="FieldOfStudy" class="form-control" type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="TeachingLoadRemark">Teaching Load Remark</label>
                                <input name="teachingLoadRemark" id="TeachingLoadRemark" class="form-control" type="text" />
                            </div>

                            <div class="form-group">
                                <input name="isExpatriate" id="IsExpatriate" type="checkbox" class="form-check-input"  />
                                <label class="form-check-label" for="IsExpatriate">Is Expatriate</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

<!-- END MAIN -->
@section Scripts
{

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>
    <script src="~/assets/scripts/Enums.js"></script>


    <script>
        $("#IsExpatriate").change(function(){
            $("#IsExpatriate").attr('value', this.checked);
        });

        var url = "/api/supportiveStaffs"
        var tableId = "#supportive-staff-table"
        var newformId = "#new-form"
        var editformId = "#edit-form"
        var collegeId = @Model.College.CollegeId
        var fetchUrl = "/api/supportiveStaffs/ByCollege/" + collegeId
        var dataId = "supportiveStaffId"

        var columns = [
            { data: "college.name" },
            { data: "name" },
            { data: "nationality" },
            { data: "isExpatriate" },
            { data: "salary" },
            { data: "birthDate" },

            {
                data: "academicLevel",
                render: function (data, type, supportiveStaff) {
                    return ADMINISTRATIVESTAFFLEVEL[data]
                }

            },

            { data: "ded" ,
                render: function (data, type, supportiveStaff) {
                    return STAFFDEDICATION[data]
                }
            },

            { data: "sex" ,
                render: function (data, type, supportiveStaff) {
                    return SEX[data]
                }
            },

            { data: "employment",
                render: function (data, type, supportiveStaff) {
                    return ACADEMICSTAFFEMPLOYEMENT[data]
                }
            },

            { data: "serviceYear" },
            {
                data: "supportiveStaffId",
                render: function (data, type, supportiveStaff) {
                    return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button> '

                }
            },
            {
                data: "supportiveStaffId",
                render: function (data, type, supportiveStaff) {
                    return '<button type = "button"  class="btn btn-danger btn-sm delete-data-button" data-model-id =' + data + ' > Delete</button > '
                }
            }
        ]

    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}

