@Model  DepartmentViewModel
<partial name="SideNavView" />
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="row" id="addDisabledStudent">
            <div class="col-md-9">
                <h3 class="page-title">Add Disabled Student </h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Disabled Student </h3>
                    </div>
                    <div class="panel-body">
                        <form id="new-form">
                            <div class="row">
                                <div class="col-lg-6">

                                    <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>



                                    <div class="form-group">
                                        <label class="control-label">Full Name</label>
                                        <input type="text" class="form-control" name="name" placeholder="Full Name" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Sex</label>
                                        <select name="sex" class="form-control">
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Phone</label>
                                        <input type="text" class="form-control" name="phone" placeholder="09********" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Birth Date</label>
                                        <input type="date" class="form-control" name="bithdate" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Student ID</label>
                                        <input type="text" class="form-control" name="studentInstitutionId" required>
                                    </div>


                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label">Study Level</label>

                                        <select name="level" class="form-control">
                                            <option value="0">Under Graduate</option>
                                            <option value="1">Graduate</option>

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Disablity</label>

                                        <select name="level" class="form-control">
                                            <option value="0">VISUALLY IMPAIRED</option>
                                            <option value="1">HEARING IMPAIRED</option>
                                            <option value="2">PHYSICALLY CHALLENGED</option>
                                            <option value="3">OTHERS</option>

                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label">Remark</label>
                                        <textarea class="form-control" name="remark"></textarea>
                                    </div>


                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Add Enrollment </button>
                        </form>
                    </div>
                </div>
                <!-- END CONTACT FORM -->

            </div>
            <!--/ col-lg-6 -->
        </div>
        <hr />
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="col-cyan">Disabled Student  List</h3>
                <div class="panel">
                    <div class="panel-heading">

                    </div>

                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="disabled-students-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Sex</th>
                                    <th>Phone</th>
                                    <th>Birth Date</th>
                                    <th>Student ID</th>
                                    <th>Level</th>
                                    <th>Program</th>
                                    <th>Disablity</th>
                                    <th>Remark</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / row -->
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<!-- EDIT MODAL -->
<div id="edit-model-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Disabled Student</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-lg-6">

                            <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>
                            <input type="number" hidden name="disabledStudentId" />



                            <div class="form-group">
                                <label class="control-label">Full Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Full Name" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Sex</label>
                                <select name="sex" class="form-control">
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <input type="text" class="form-control" name="phone" placeholder="09********" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Birth Date</label>
                                <input type="date" class="form-control" name="bithdate" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Student ID</label>
                                <input type="text" class="form-control" name="studentInstitutionId" required>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Study Level</label>

                                <select name="level" class="form-control">
                                    <option value="0">Under Graduate</option>
                                    <option value="1">Graduate</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Disablity</label>

                                <select name="level" class="form-control">
                                    <option value="0">VISUALLY IMPAIRED</option>
                                    <option value="1">HEARING IMPAIRED</option>
                                    <option value="2">PHYSICALLY CHALLENGED</option>
                                    <option value="3">OTHERS</option>

                                </select>
                            </div>


                            <div class="form-group">
                                <label class="control-label">Remark</label>
                                <textarea class="form-control" name="remark"></textarea>
                            </div>


                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update </button>
                </form>
            </div>

        </div>

    </div>
</div>

@section Scripts
    {

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>



    <script>
        var url = "/api/DisabledStudents"
        var STUDYLEVELS = ["Under Graduate", "Graduate"]
        var STUDYPROGRAM = ['Day Time', 'Extension', 'Summer', 'Distance']
        var STUDYYEAR = ['I', 'II', 'III', 'IV', 'V', 'SUMMER VI AND ABOVE']
        var STUDNETATTRITIONTYPE = ['CET', 'CNCS', 'CMHS', 'CAES', 'CBE', 'CSSH']
        var STUDENTATTRITIONCASE = ['ACADEMIC DISMISSALS WITH READMITION', 'ACADEMIC DISMISSALS FOR GOOD','DISCIPLINE DISMISSALS','WITHDRAWALS','DROPOUTS','OTHERS']
        var DISABLITIES = ['VISUALLY IMPAIRED', 'HEARING IMPAIRED', 'PHYSICALLY CHALLENGED', 'OTHERS']
        var SEX = ["Male", "Female"]

       var fetchUrl = "/api/DisabledStudents/ByDepartment/" + @Model.Department.DepartmentId
        
        var tableId = "#disabled-students-table"
        var newformId = "#new-form"
        var editformId = "#edit-form"
        var dataId = "disabledStudentId"

        var columns = [
            {
                data: "name"
            },
            {
                data: "sex",
                render: function (data, type, attrition) {
                    return SEX[data]
                }
            },
            {
                data: "phone"
            },
            {
                data: "bithdate"
            },
            {
                data: "studentInstitutionId"
            },
           
            {
                data: "level",
                render: function (data, type, attirition) {
                    return STUDYLEVELS[data]
                }
            },
            {
                data: "program",
                render: function (data, type, attirition) {
                    return STUDYPROGRAM[data]
                }
            },
            {
                data: "disability",
                render: function (data, type, attirition) {
                    return DISABLITIES[data]
                }
            },

            { data: "remark" },
            {
                data: dataId,
                render: function (data, type, institution) {
                    return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button> '
                }
            },
            {
                data: dataId,
                render: function (data, type, institution) {
                    return '<button type = "button"  class="btn btn-danger btn-sm delete-data-button" data-model-id =' + data + ' > Delete</button > '
                }
            }
        ]


    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}