@Model  DepartmentViewModel
<partial name="SideNavView" />
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <!-- row -->
        <div class="row" id="addStudentList">
            <div class="col-md-9">
                <h3 class="page-title">Add Expatriate</h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-body">
                        <form id="new-form">
                            <div class="row">
                                <div class="col-lg-6">

                                    <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>
                                    <div class="form-group">
                                        <label class="control-label">Full Name</label>
                                        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Study Level</label>

                                        <select name="level" class="form-control">
                                            <option value="0">UNDERGRADUATE</option>
                                            <option value="1">MASTERS</option>
                                            <option value="2">PHD</option>
                                            <option value="3">SPECIALIZATION</option>
                                            <option value="4">SUB SPECIALIZATION</option>


                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Country</label>
                                        <input type="text" class="form-control" name="country" placeholder="Country">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Passport</label>
                                        <input type="text" class="form-control" name="passport" placeholder="Passport">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Remark</label>
                                        <textarea class="form-control" name="remark">
                                        </textarea>
                                    </div>



                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label">Sex</label>
                                        <select name="sex" class="form-control">
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Specialization</label>
                                        <input type="text" class="form-control" name="subjectOfSpecialization" placeholder="Specialization" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control" name="address" placeholder="Current Address">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Staff Id</label>
                                        <input type="text" class="form-control" name="staffId" placeholder="Staff Id">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Add  </button>
                        </form>
                    </div>
                </div>
                <!-- END CONTACT FORM -->

            </div>
            <!--/ col-lg-6 -->
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-11">
                <h3 class="col-cyan">Expatriate List</h3>
                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="enrollment-table">
                            <thead>
                                <tr>
                                    <th>Staff Id</th>
                                    <th>Name</th>
                                    <th>Sex</th>
                                    <th>Level</th>
                                    <th>Country</th>
                                    <th>Specialization</th>
                                    <th>Passport</th>
                                    <th>Address</th>
                                    <th>Remark</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- / row -->
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<!-- EDIT MODAL -->
<div id="edit-model-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Enrollement</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-lg-6">

                            <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>
                            <input type="number" hidden name="expatriateId" />
                            <div class="form-group">
                                <label class="control-label">Full Name</label>
                                <input type="text" class="form-control" name="fullName" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Study Level</label>

                                <select name="level" class="form-control">
                                    <option value="0">UNDERGRADUATE</option>
                                    <option value="1">MASTERS</option>
                                    <option value="2">PHD</option>
                                    <option value="3">SPECIALIZATION</option>
                                    <option value="4">SUB SPECIALIZATION</option>


                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control" name="country" placeholder="Country">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Passport</label>
                                <input type="text" class="form-control" name="passport" placeholder="Passport">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Remark</label>
                                <textarea class="form-control" name="remark">
                                        </textarea>
                            </div>



                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Sex</label>
                                <select name="sex" class="form-control">
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Specialization</label>
                                <input type="text" class="form-control" name="subjectOfSpecialization" placeholder="Specialization" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" name="address" placeholder="Current Address">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Staff Id</label>
                                <input type="text" class="form-control" name="staffId" placeholder="Staff Id">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update </button>
                </form>
            </div>

        </div>

    </div>
</div>

@section Scripts
    {

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>
    <script src="~/assets/scripts/Enums.js"></script>



    <script>

        var departmentId = @Model.Department.DepartmentId
        var fetchUrl = "/api/Expatriates/ByDepartment/" + departmentId
        var url = "/api/Expatriates/"
        var tableId = "#enrollment-table"
        var newformId = "#new-form"
        var editformId = "#edit-form"
        var dataId = "expatriateId"


        var columns = [
            {data: "staffId"},
            { data: "fullName" },
            {
                data: "sex",
                render: function (data, type, expatriate) {
                    return SEX[data]
                }
            },
            {
                data: "studyLevel",
                render: function (data, type, expatriate) {
                    return STUDYLEVEL[data]
                }
            },
            { data: "country" },
            { data: "subjectOfSpecialization" },
            { data: "passport" },
            { data: "address" },
            { data: "remark" },
            {
                data: dataId,
                render: function (data, type, expatriate) {
                    return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button> '
                }
            },
            {
                data: dataId,
                render: function (data, type, expatriate) {
                    return '<button type = "button"  class="btn btn-danger btn-sm delete-data-button" data-model-id =' + data + ' > Delete</button > '
                }
            }
        ]


    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}