@Model  CollegeResearchPapersViewModel
<partial name="SideNavView" />
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="row" id="addResearchPapers">
            <div class="col-md-9">
                <h3 class="page-title">Add Research Paper</h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Department Research Papers</h3>
                    </div>
                    <div class="panel-body">
                        <form id="new-form" enctype="multipart/form-data">
                            <div class="row">
                                    <div class="col-lg-4">
                                        <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>


                                        <div class="form-group">
                                            <label class="control-label">Research Status</label>
                                            <select name="status" class="form-control">
                                                <option value="0">On going</option>
                                                <option value="1">Completed</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Research Papers</label>
                                            <input type="number" class="form-control" name="numberOfResearchPapersCompleted" placeholder="Research Papers Count" value="0" min="0">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Male Teachers Participated</label>
                                            <input type="number" class="form-control" name="numberOfMaleTeachersParticipated" placeholder="Total Number Of Male Teachers that participated" value="0" min="0">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Female Teachers Participated</label>
                                            <input type="number" class="form-control" name="numberOfFemaleTeachersParticipated" placeholder="Total Number Of Female Teachers that participated" value="0" min="0">
                                        </div>

                                    </div>
                                        

                                    <div class="col-lg-4">


                                        <div class="form-group">
                                            <label class="control-label">Female Leads</label>
                                            <input type="number" class="form-control" name="numberOfFemaleLeads" placeholder="Total Number Of Female Leads" value="0" min="0">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Male Teachers From Other Institute Participated</label>
                                            <input type="number" class="form-control" name="numberOfMaleTeachersFromOtherInstituteParticipated" placeholder="Total Number Of Male Teachers From Other Institute that participated" value="0" min="0">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Female Teachers From Other Institute Participated</label>
                                            <input type="number" class="form-control" name="numberOfFemaleTeachersFromOtherInstituteParticipated" placeholder="Total Number Of Female Teachers From Other Institute that participated" value="0" min="0">
                                        </div>

                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label class="control-label">Budget Allocated</label>
                                            <input type="number" class="form-control" name="budgetAllocated" placeholder="Total Allocated Budget" value="0" min="0">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Budget From External Fund</label>
                                            <input type="number" class="form-control" name="budgetFromExternalFund" placeholder="Total Budget Collected From External Funds" value="0" min="0">
                                        </div>
                                    </div>
                                        
                            </div>
                            <button type="submit" class="btn btn-primary">Add Research Papers</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="col-cyan"> Department Research Papers</h3>
                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="researchPaper-table">
                            <thead>
                                <tr>
                                    <th>Research Status</th>
                                    <th>Research Papers </th>
                                    <th>Male Teachers Participated</th>
                                    <th>Female Teachers Participated</th>
                                    <th>Female Leads</th>
                                    <th>Male Teachers From Other Institutes </th>
                                    <th>Female Teachers From Other Institutes </th>
                                    <th>Allocated Budget</th>
                                    <th>External Funds</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN -->
<!-- EDIT MODAL -->
<div id="edit-model-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Research Paper Data</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>
                            <input type="number" hidden name="researchPaperId">


                            <div class="form-group">
                                <label class="control-label">Research Status</label>
                                <select name="status" class="form-control">
                                    <option value="0">On going</option>
                                    <option value="1">Completed</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Research Papers</label>
                                <input type="number" class="form-control" name="numberOfResearchPapersCompleted" placeholder="Research Papers Count" value="0" min="0">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Male Teachers Participated</label>
                                <input type="number" class="form-control" name="numberOfMaleTeachersParticipated" placeholder="Total Number Of Male Teachers that participated" value="0" min="0">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Female Teachers Participated</label>
                                <input type="number" class="form-control" name="numberOfFemaleTeachersParticipated" placeholder="Total Number Of Female Teachers that participated" value="0" min="0">
                            </div>

                        </div>


                        <div class="col-lg-4">


                            <div class="form-group">
                                <label class="control-label">Female Leads</label>
                                <input type="number" class="form-control" name="numberOfFemaleLeads" placeholder="Total Number Of Female Leads" value="0" min="0">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Male Teachers From Other Institute Participated</label>
                                <input type="number" class="form-control" name="numberOfMaleTeachersFromOtherInstituteParticipated" placeholder="Total Number Of Male Teachers From Other Institute that participated" value="0" min="0">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Female Teachers From Other Institute Participated</label>
                                <input type="number" class="form-control" name="numberOfFemaleTeachersFromOtherInstituteParticipated" placeholder="Total Number Of Female Teachers From Other Institute that participated" value="0" min="0">
                            </div>

                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <label class="control-label">Budget Allocated</label>
                                <input type="number" class="form-control" name="budgetAllocated" placeholder="Total Allocated Budget" value="0" min="0">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Budget From External Fund</label>
                                <input type="number" class="form-control" name="budgetFromExternalFund" placeholder="Total Budget Collected From External Funds" value="0" min="0">
                            </div>
                        </div>

                    </div>

                    

                    <button type="submit" class="btn btn-primary">Update </button>
                </form>
            </div>

        </div>

    </div>
</div>

@section Scripts
    {

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>
    <script src="~/assets/scripts/Enums.js"></script>



    <script>
    var url = "/api/researchPapers"
    var tableId = "#researchPaper-table"
    var newformId = "#new-form"
    var editformId = "#edit-form"
    var dataId = "researchPaperId"
    var departmentId = @Model.Department.DepartmentId
    var fetchUrl = "/api/researchPapers/ByDepartment/" + departmentId

    var selectedrow;

    var columns = [
        {
            data: "status",
            render: function (data, type, researchPaper) {
                return STATUS[data]
            }
        },
        { data: "numberOfResearchPapersCompleted" },
        { data: "numberOfMaleTeachersParticipated" },
        { data: "numberOfFemaleTeachersParticipated" },
        { data: "numberOfFemaleLeads" },
        { data: "numberOfMaleTeachersFromOtherInstituteParticipated" },
        { data: "numberOfFemaleTeachersFromOtherInstituteParticipated" },
        { data: "budgetAllocated" },
        { data: "budgetFromExternalFund" },

        {
            data: "researchPaperId",
            render: function (data, type, researchPaper) {
                return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button> ' 
                    
            }
        }
        , {
            data: "researchPaperId",
            render: function (data, type, researchPaper) {
                return '<button type = "button"  class="btn btn-danger btn-sm delete-data-button" data-model-id =' + data + ' > Delete</button > '
            }
        }
    ]


    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}