<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">

                <li>
                    <a href="/department" class="">
                        <i class="lnr lnr-home"></i>

                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#subStaff" data-toggle="collapse" class="collapsed">
                        <i class="lnr lnr-laptop"></i>
                        <span>Staff</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div id="subStaff" class="collapse ">
                        <ul class="nav">
                            <li>
                                <a href="/department/ResearchPapers" class="">
                                    <span>Research Papers</span>
                                </a>
                            </li>
                            <li>
                                <a href="/department/AcademicStaff" class="">
                                    <span>Academic Staff</span>
                                </a>
                            </li>
                            <li>
                                <a href="/department/TechnicalStaff" class="">
                                    <span>Technical Staff</span>
                                </a>
                            </li>
                            <li>
                                <a href="/department/Expatriate" class="">
                                    <span>Expatriate</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subStudent" data-toggle="collapse" class="collapsed">
                        <i class="lnr lnr-users"></i>
                        <span>Student</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div id="subStudent" class="collapse">
                        <ul class="nav">
                            <li>
                                <a href="#subEnrollment" data-toggle="collapse" class="collapsed">
                                    <i class="lnr lnr-list"></i>
                                    <span>Enrollment</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                                </a>
                                <div id="subEnrollment" class="collapse ">
                                    <ul class="nav subitems">
                                        <li>
                                            <a href="/department/Enrollments" class="">

                                                <span>Total </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/department/NewEnrollment" class="">

                                                <span>New </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/EmergingRegionEnrollments" class="">

                                                <span>Emerging Region </span>
                                            </a>
                                        </li>


                                        <li>
                                            <a href="/department/PastoralRegionEnrollments" class="">

                                                <span>Pastoral Region </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/EconomicalDisadvantagedEnrollments" class="">

                                                <span>Economical Disadvantaged </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/RuralEnrollments" class="">
                                                <span>Rural </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/foreignerStudents" class="">
                                                <span>Foreigner </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/disabledStudents" class="">
                                                <span>Special Need </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/EnrollmentByAge" class="">

                                                <span>By Age</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#subGraduate" data-toggle="collapse" class="collapsed">
                                    <i class="lnr lnr-graduation-hat"></i>
                                    <span>Graduate</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                                </a>
                                <div id="subGraduate" class="collapse ">
                                    <ul class="nav subitems">
                                        <li>
                                            <a href="/department/Graduates" class="">
                                                <span>Total</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/EconomicalDisadvantagedGraduates" class="">
                                                <span>Economically Disadvantaged</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/RuralGraduates" class="">
                                                <span>Rural</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/SpecialNeedGraduates" class="">
                                                <span>Special Need</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/ProspectiveGraduate" class="">
                                                <span>Prospective</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#subAttrition" data-toggle="collapse" class="collapsed">
                                    <i class="lnr lnr-warning"></i>
                                    <span>Attrition</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                                </a>
                                <div id="subAttrition" class="collapse ">
                                    <ul class="nav subitems">
                                        <li>
                                            <a href="/department/StudentAttritions" class="">
                                                <span>Total</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/department/SpecialNeedAttritions" class="">
                                                <span>Special Need </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/EmergingRegionAttritions" class="">
                                                <span>Emerging Region </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/RuralAttritions" class="">
                                                <span>Rural Region </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/EconomicalDisadvantagedAttritions" class="">
                                                <span>Economically Disadvantaged </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>


                            <li>
                                <a href="#subExitExam" data-toggle="collapse" class="collapsed">
                                    <i class="lnr lnr-exit"></i>
                                    <span>Exit Exam</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                                </a>
                                <div id="subExitExam" class="collapse ">
                                    <ul class="nav subitems">

                                        <li>
                                            <a href="/department/GraduatesTotalExitExamination" class="">
                                                <span>Total</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/GraduatesTotalExitExaminationByEconomy" class="">
                                                <span>Economically Disadvantaged</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/department/GraduatesTotalExitExaminationByDisability" class="">
                                                <span>Special Need</span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>



                            <li>
                                <a href="/department/Internships" class="">
                                    <span>Internships</span>
                                </a>
                            </li>



                            <li>
                                <a href="/department/intakecapacities" class="">
                                    <span>Intake Capacity</span>
                                </a>
                            </li>


                            <li>
                                <a href="/department/CompletionRates" class="">
                                    <span>Completion Rate</span>
                                </a>
                            </li>
                        </ul>
                                </div>
                            <li>
                                <a href="#subPublication" data-toggle="collapse" class="collapsed">
                                    <i class="lnr lnr-book"></i>
                                    <span>Publication</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                                </a>
                                <div id="subPublication" class="collapse ">
                                    <ul class="nav subitems">

                                        <li>
                                            <a href="/department/PostGraduateResearchPublications" class="">
                                                <span>PostGraduate Research </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/department/StaffPublications" class="">
                                                <span>Academic Staff Publication</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
</li>





            </ul>
        </nav>
    </div>
</div>