@Model  DepartmentViewModel
<partial name="SideNavView" />
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">

        <!-- row -->
        <div class="row" id="addStudentAttrition">
            <div class="col-md-9">
                <h3 class="page-title">Add Special Need Student Attrition</h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Student Attrition</h3>
                    </div>
                    <div class="panel-body">
                        <form id="new-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>

                                    <div class="form-group">
                                        <label class="control-label">Attrition Case</label>

                                        <select name="case" class="form-control">
                                            <option value="0">ACADEMIC DISMISSALS WITH READMITION</option>
                                            <option value="1">ACADEMIC DISMISSALS FOR GOOD</option>
                                            <option value="2">DISCIPLINE DISMISSALS</option>
                                            <option value="3">WITHDRAWALS</option>
                                            <option value="4">DROPOUTS</option>
                                            <option value="5">OTHERS</option>

                                        </select>
                                    </div>

                                    <partial name="~/Views/Shared/Input/_StudyProgram.cshtml" />
                                    <div class="form-group">
                                        <label class="control-label">Disablity</label>

                                        <select name="disability" class="form-control">
                                            <option value="0">VISUALLY IMPAIRED</option>
                                            <option value="1">HEARING IMPAIRED</option>
                                            <option value="2">PHYSICALLY CHALLENGED LEGS</option>
                                            <option value="3">PHYSICALLY CHALLENGED HANDS</option>
                                            <option value="4">OTHERS</option>

                                        </select>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="control-label">Male</label>
                                        <input type="number" class="form-control" name="males" placeholder="Male" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Female</label>
                                        <input type="number" class="form-control" name="females" placeholder="Female"
                                               value="0">
                                    </div>


                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Add Special Need Student Attrition </button>
                        </form>
                    </div>
                </div>
                <!-- END CONTACT FORM -->

            </div>
            <!--/ col-lg-6 -->
        </div>

        <!-- / row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-lg-11">

                <h3 class="col-cyan"> Student Attrition List</h3>
                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="student-attrition-table">
                            <thead>
                                <tr>
                                    <th>Attrition Case</th>
                                    <th>Study Program</th>
                                    <th>Male</th>
                                    <th>Female</th>
                                    <th>Disability</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / row -->


    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<!-- EDIT MODAL -->
<div id="edit-model-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Special Need Student Attrition</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="number" hidden name="departmentId" value=@Model.Department.DepartmentId>
                            <input type="number" hidden name="specialNeedAttritionId">

                            <div class="form-group">
                                <label class="control-label">Attrition Case</label>

                                <select name="case" class="form-control">
                                    <option value="0">ACADEMIC DISMISSALS WITH READMITION</option>
                                    <option value="1">ACADEMIC DISMISSALS FOR GOOD</option>
                                    <option value="2">DISCIPLINE DISMISSALS</option>
                                    <option value="3">WITHDRAWALS</option>
                                    <option value="4">DROPOUTS</option>
                                    <option value="5">OTHERS</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Study Program</label>

                                <select name="program" class="form-control">
                                    <option value="0">Day Time</option>
                                    <option value="1">Extension</option>
                                    <option value="2">Summer</option>
                                    <option value="3">Distance</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Disablity</label>

                                <select name="disability" class="form-control">
                                    <option value="0">VISUALLY IMPAIRED</option>
                                    <option value="1">HEARING IMPAIRED</option>
                                    <option value="2">PHYSICALLY CHALLENGED LEGS</option>
                                    <option value="3">PHYSICALLY CHALLENGED HANDS</option>
                                    <option value="4">OTHERS</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="control-label">Male</label>
                                <input type="number" class="form-control" name="males" placeholder="Male" value="0">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Female</label>
                                <input type="number" class="form-control" name="females" placeholder="Female"
                                       value="0">
                            </div>


                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update </button>
                </form>
            </div>

        </div>

    </div>
</div>

@section Scripts
    {

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>
    <script src="~/assets/scripts/Enums.js"></script>


    <script>
        var departmentId = @Model.Department.DepartmentId
        var fetchUrl = "/api/SpecialNeedAttritions/ByDepartment/" + departmentId
        var url = "/api/SpecialNeedAttritions"
        var tableId = "#student-attrition-table"
        var newformId = "#new-form"
        var editformId = "#edit-form"
        var dataId = "specialNeedAttritionId"


        var columns = [
            {
                data: "case",
                render: function (data, type, specialNeedAttrition) {
                    return STUDENTATTRITIONCASE[data]
                }
            },

            {
                data: "program",
                render: function (data, type, specialNeedAttrition) {
                    return STUDYPROGRAM[data]
                }
            },

            { data: "males" },
            { data: "females" },
            { 
                data: "disability",
                render: function (data, type, specialNeedAttrition) {
                    return DISABILITY[data]
                }
            },
            {
                data: dataId,
                render: function (data, type, specialNeedAttrition) {
                    return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button> '

                }
            },
            {
                data: dataId,
                render: function (data, type, specialNeedAttrition) {
                    return '<button type = "button"  class="btn btn-danger btn-sm delete-data-button" data-model-id =' + data + ' > Delete</button > '
                }
            }


        ]


    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}