@Model  InstitutionManagementDatasViewModel
<partial name="SidNavView" />

<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">


        <!-- row -->
        <div class="row" id="addManagementData">
            <div class="col-md-9">
                <h3 class="page-title">Add Management Data</h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Management Data</h3>
                    </div>
                    <div class="panel-body">
                        <form id="new-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="number" hidden name="institutionId" value=@Model.Institution.InstitutionId>
                                    <div class="form-group">
                                        <label class="control-label">Management Level</label>
                                        <select name="level" class="form-control">
                                            <option value="0">Top Level</option>
                                            <option value="1">Middle Level</option>
                                            <option value="2">Lower Level</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Number Of Position Required</label>
                                        <input type="number" class="form-control" name="numberOfPositionRequired" placeholder="Positions" value="0" min="0">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Currently Assigned</label>
                                        <input type="number" class="form-control" name="currentlyAssigned" placeholder="Assigned Amount" value="0" min="0">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Number Of Females</label>
                                        <input type="number" class="form-control" name="numberOfFemales" placeholder="Number Of Females" value="0" min="0">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Management Data </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- row -->
        <div class="row">
            <div class="col-lg-11">
                <h3 class="col-cyan"> Management Data List</h3>
                <div class="panel">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="managementData-table">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Number Of Positions</th>
                                    <th>Currently Assigned</th>
                                    <th>Number Of Females</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / row -->
    </div>
</div>
<div id="edit-model-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Management Data</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="number" hidden name="institutionId" value=@Model.Institution.InstitutionId>
                            <input type="number" hidden name="managementDataId">
                            <div class="form-group">
                                <label class="control-label">Management Level</label>
                                <select name="level" class="form-control">
                                    <option value="0">Top Level</option>
                                    <option value="1">Middle Level</option>
                                    <option value="2">Lower Level</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Number Of Position Required</label>
                                <input type="number" class="form-control" name="numberOfPositionRequired" placeholder="Positions" value="0" min="0">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Currently Assigned</label>
                                <input type="number" class="form-control" name="currentlyAssigned" placeholder="Assigned Amount" value="0" min="0">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number Of Females</label>
                                <input type="number" class="form-control" name="numberOfFemales" placeholder="Number Of Females" value="0" min="0">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update </button>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>
    

    <script>
        var url = "/api/managementDatas"
        var tableId = "#managementData-table"
        var newformId = "#new-form"
        var editformId = "#edit-form"
        var dataId = "managementDataId"
        var institutionId = @Model.Institution.InstitutionId
        var fetchUrl = "/api/managementDatas/ByInstitution/" + institutionId


        var level = ['Top Level', 'Middle Level', 'Lower Level']

        var selectedrow;

        var columns = [
            {
                data: "level",
                render: function (data, type, buildingData) {
                    return level[data]
                }
            },
            { data: "numberOfPositionRequired" },
            { data: "currentlyAssigned" },
            { data: "numberOfFemales" },
            {
                data: "managementDataId",
                render: function (data, type, buildingData) {
                    return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button>         ' 
                        
                }
            },
            {
                data: "managementDataId",
                render: function (data, type, buildingData) {
                    return  '<button type = "button"  class="btn btn-danger btn-sm delete-data-button" data-model-id =' + data + ' > Delete</button > '
                }
            }

        ]
    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}