<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="~/institution" class="">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li><a href="~/identity/account/adduser" class="">College / Institute Admin</a></li>
                <li><a href="~/institution/college" class="">College / Institute</a></li>
                <li><a href="~/identity/account/addDepartment" class="">Department / School Admin</a></li>
                <li><a href="~/institution/department" class="">Department / School</a></li> 
                <li><a href="~/institution/ManagementDatas" class="">Management Data</a></li>
                <li><a href="~/institution/UnjustifiableExpense" class="">Unjustifiable Expense</a></li>
                @*<li>
            <a href="#Enrollment" data-toggle="collapse" class="collapsed ">
                <i class="lnr lnr-bold"></i>
                <span>Enrollment</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="Enrollment" class="collapse ">
                <ul class="nav">
                    <li><a href="~/institution/EnrollmentByAge" class="">By Age</a></li>
                    <li><a href="~/institution/PastoralRegionEnrollment" class="">Pastoral Area</a></li>
                    <li><a href="~/institution/EmergingRegionEnrollment" class="">Emerging Region</a></li>

                </ul>
            </div>
        </li>
        <li>
            <a href="#staff" data-toggle="collapse" class="collapsed ">
                <i class="lnr lnr-bold"></i>
                <span>Staff</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="staff" class="collapse ">
                <ul class="nav">
                    <li><a href="~/institution/AdministrativeAndSupportiveStaff" class="">Administrative and Supportive Staff</a></li>
                    <li><a href="~/institution/ManagementDatas" class="">Management Data</a></li>

                </ul>
            </div>
        </li>


        <li>
            <a href="~/institution/Buildings" class="">
                <i class="lnr lnr-bold"></i>
                <span>Building Data</span>
            </a>
        </li>*@

            </ul>


        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->