@{
    ViewData["Title"] = "About";

    Layout = "_login";
}

<!-- MAIN -->
<div class="container home">
    <!-- MAIN CONTENT -->
    <div class="">
        <div class="row">

            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <h3 class="page-title">University</h3>
                        <select name="ticket-priority" class="form-control">
                            <option value="low">AAU</option>
                            <option value="medium">Mekele</option>
                            <option value="high">Adigrat</option>

                        </select>
                    </div>
                </form>
            </div>
        </div>


        <!-- row -->
        <div class="row">
            <div class="col-lg-12">

                <div class="panel">
                    <div class="panel-heading">
                        <h4>ADIGRAT Student</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="attrition-table">
                            <thead>
                                <tr>
                                    <th>Band</th>
                                    <th>Department</th>
                                    <th>Year</th>
                                    <th>male</th>
                                    <th>female</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Engineering & Technology</td>
                                    <td>Civil Engineering </td>
                                    <td>Year I</td>
                                    <td>30</td>
                                    <td>22</td>


                                </tr>
                                <tr>
                                    <td> Engineering & Technology</td>
                                    <td>Civil Engineering </td>
                                    <td>Year I</td>
                                    <td>30</td>
                                    <td>22</td>


                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / row -->
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->