<partial name="SideNavView" />

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                    <p class="panel-subtitle">Period: 2019 - Semester II</p>
                    <div class="row">
                        <div class="form-group col-lg-3 my-3">
                            <select class="form-control">
                                <option>Addis Aababa Unversity</option>
                                <option>Adigrat Unversity</option>
                                <option>Hawassa Unversity</option>
                                <option>Mekele Unversity</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @*Studnet Enrollment*@
                    <div class="panel-heading">
                        <p class="panel-title">Total Student Enrollment</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon icon-green"><i class="fa fa-female"></i></span>
                                <p>
                                    <span class="number">1,252 (10%)</span>
                                    <span class="title">UG Females</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-male"></i></span>
                                <p>
                                    <span class="number">203 (5%)</span>
                                    <span class="title">UG Males</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon icon-green"><i class="fa fa-female"></i></span>
                                <p>
                                    <span class="number">4,678 (50%)</span>
                                    <span class="title">PG Females</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-male"></i></span>
                                <p>
                                    <span class="number">345 (35%)</span>
                                    <span class="title">PG Males</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        @*Enrollment By Program and Sex*@
                        <p class="panel-title">Enrollment By Program and Sex</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="headline-chart" class="ct-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <div class="row">
                <div class="col-md-6">
                    <!-- VISIT CHART -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Capital Budget</h3>
                            <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="visits-chart" class="ct-chart"></div>
                        </div>
                    </div>
                    <!-- END VISIT CHART -->
                </div>
                <div class="col-md-6">
                    <!-- VISIT CHART -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recurrent Budget</h3>
                            <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="visits-chart-2" class="ct-chart"></div>
                        </div>
                    </div>
                    <!-- END VISIT CHART -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->