 <!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="~/MainAdmin" class="">

                        <span>Dashboard</span>
                    </a>
                </li>

                <li><a href="~/MainAdmin/band" class=""> Band / ESCED</a></li>
                <li><a href="~/Identity/Account/register" class="">University Admin</a></li>
                <li><a href="~/MainAdmin/institutions"> University</a></li>
                <li><a href="~/MainAdmin/Budget"> Budget Description</a></li>



            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->